#
# dal-salmon-sw-1
#

#
# Naming
#

/system/identity/set name="dal-salmon-sw-1"


#
# Network Overview
#

# 100 = GENERAL         = 192.168.72.0/25    = 126
# 101 = GUEST           = 192.168.72.128/26  =  62
# 102 = VPN             = 192.168.72.192/26  =  62
# 103 = SERVERS         = 192.168.73.0/25    = 126
# 104 = SERVERS_STAGING = 192.168.73.128/25  = 126
# 105 = IOT_INTERNET    = 192.168.74.0/25    = 126
# 106 = IOT_RESTRICTED  = 192.168.74.128/25  = 126
# 107 =                 = 192.168.75.0/25    = 126
# 108 = SERVICES        = 192.168.75.128/26  =  62
# 109 = MANAGEMENT      = 192.168.75.192/26  =  62


#
# Bridge
#

/interface/bridge/add name=CORE vlan-filtering=no


#
# Trunk Ports
#

/interface/bridge/port

# untagged - IOT_INTERNET
add bridge=CORE interface=ether1       pvid=105 comment=""

# untagged - IOT_INTERNET
add bridge=CORE interface=ether2       pvid=105 comment=""

# untagged - IOT_INTERNET
add bridge=CORE interface=ether3       pvid=105 comment=""

# untagged - IOT_INTERNET
add bridge=CORE interface=ether4       pvid=105 comment=""

# untagged - IOT_INTERNET
add bridge=CORE interface=ether5       pvid=105 comment=""

# untagged - IOT_INTERNET
add bridge=CORE interface=ether6       pvid=105 comment=""

# untagged - IOT_INTERNET
add bridge=CORE interface=ether7       pvid=105 comment=""

# untagged - IOT_INTERNET
add bridge=CORE interface=ether8       pvid=105 comment=""

# untagged - IOT_RESTRICTED
add bridge=CORE interface=ether9       pvid=106 comment=""

# untagged - IOT_RESTRICTED
add bridge=CORE interface=ether10      pvid=106 comment=""

# untagged - IOT_RESTRICTED
add bridge=CORE interface=ether11      pvid=106 comment=""

# untagged - IOT_RESTRICTED
add bridge=CORE interface=ether12      pvid=106 comment=""

# untagged - IOT_RESTRICTED
add bridge=CORE interface=ether13      pvid=106 comment=""

# untagged - IOT_RESTRICTED
add bridge=CORE interface=ether14      pvid=106 comment=""

# untagged - IOT_RESTRICTED
add bridge=CORE interface=ether15      pvid=106 comment=""

# untagged - IOT_RESTRICTED
add bridge=CORE interface=ether16      pvid=106 comment=""

# trunk - ALL VLANS
add bridge=CORE interface=ether17               comment="dal-salmon-fw-0"

# trunk - ALL VLANS
add bridge=CORE interface=ether18               comment=""

# untagged - SERVERS
add bridge=CORE interface=ether19      pvid=103 comment=""

# untagged - SERVERS
add bridge=CORE interface=ether20      pvid=103 comment=""

# untagged - SERVERS
add bridge=CORE interface=ether21      pvid=103 comment=""

# untagged - SERVERS
add bridge=CORE interface=ether22      pvid=103 comment=""

# untagged - MANAGEMENET
add bridge=CORE interface=ether23      pvid=109 comment=""

# untagged - MANAGEMENT
add bridge=CORE interface=ether24      pvid=109 comment=""

# trunk - ALL VLANS
add bridge=CORE interface=sfp-sfpplus1          comment=""

# untagged - SERVERS
add bridge=CORE interface=sfp-sfpplus2 pvid=103 comment=""

# untagged - SERVERS
add bridge=CORE interface=sfp-sfpplus3 pvid=103 comment=""

# untagged - SERVERS
add bridge=CORE interface=sfp-sfpplus4 pvid=103 comment=""


/interface/bridge/vlan
add bridge=CORE tagged=CORE,ether17,ether18,sfp-sfpplus1 vlan-ids=100
add bridge=CORE tagged=CORE,ether17,ether18,sfp-sfpplus1 vlan-ids=101
add bridge=CORE tagged=CORE,ether17,ether18,sfp-sfpplus1 vlan-ids=102
add bridge=CORE tagged=CORE,ether17,ether18,sfp-sfpplus1 untagged=ether19,ether20,ether21,ether22,sfp-sfpplus2,sfp-sfpplus3,sfp-sfpplus4 vlan-ids=103
add bridge=CORE tagged=CORE,ether17,ether18,sfp-sfpplus1 vlan-ids=104
add bridge=CORE tagged=CORE,ether17,ether18,sfp-sfpplus1 untagged=ether1,ether2,ether3,ether4,ether5,ether6,ether7,ether8 vlan-ids=105
add bridge=CORE tagged=CORE,ether17,ether18,sfp-sfpplus1 untagged=ether9,ether10,ether11,ether12,ether13,ether14,ether15,ether16 vlan-ids=106
add bridge=CORE tagged=CORE,ether17,ether18,sfp-sfpplus1 vlan-ids=107
add bridge=CORE tagged=CORE,ether17,ether18,sfp-sfpplus1 vlan-ids=108
add bridge=CORE tagged=CORE,ether17,ether18,sfp-sfpplus1 untagged=ether23,ether24 vlan-ids=109


#
# IP Addressing & Routing
#

# Management VLAN
/interface/vlan/add interface=CORE name=MANAGEMENT_VLAN vlan-id=109
/ip/address/add address=192.168.75.195/26 interface=MANAGEMENT_VLAN


#
# Firewall & NAT
#

/interface/list/add name=MANAGEMENT
/interface/list/member/add interface=MANAGEMENT_VLAN list=MANAGEMENT

/ip/firewall/filter

# Input Chain
add chain=input action=accept connection-state=established,related,untracked comment="accept established,related,untracked"
add chain=input action=accept connection-state=invalid comment="drop invalid"
add chain=input action=accept dst-address=127.0.0.1 comment="accept to local loopback (for CAPsMAN)"

# Add more general input related access here
add chain=input action=accept in-interface-list=MANAGEMENT comment="allow MANAGEMENT access"

# Remove the catchall once comfortable
add chain=input action=accept log=yes log-prefix=input-catch comment="catchall" disabled=yes
add chain=input action=drop log=yes log-prefix=input-drop comment="drop all other input"


#
# VLAN Security
#

/interface/bridge/port
set bridge=CORE ingress-filtering=yes frame-types=admit-only-untagged-and-priority-tagged [find interface=ether1]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-untagged-and-priority-tagged [find interface=ether2]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-untagged-and-priority-tagged [find interface=ether3]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-untagged-and-priority-tagged [find interface=ether4]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-untagged-and-priority-tagged [find interface=ether5]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-untagged-and-priority-tagged [find interface=ether6]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-untagged-and-priority-tagged [find interface=ether7]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-untagged-and-priority-tagged [find interface=ether8]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-untagged-and-priority-tagged [find interface=ether9]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-untagged-and-priority-tagged [find interface=ether10]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-untagged-and-priority-tagged [find interface=ether11]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-untagged-and-priority-tagged [find interface=ether12]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-untagged-and-priority-tagged [find interface=ether13]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-untagged-and-priority-tagged [find interface=ether14]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-untagged-and-priority-tagged [find interface=ether15]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-untagged-and-priority-tagged [find interface=ether16]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-vlan-tagged [find interface=ether17]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-vlan-tagged [find interface=ether18]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-untagged-and-priority-tagged [find interface=ether19]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-untagged-and-priority-tagged [find interface=ether20]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-untagged-and-priority-tagged [find interface=ether21]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-untagged-and-priority-tagged [find interface=ether22]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-untagged-and-priority-tagged [find interface=ether23]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-untagged-and-priority-tagged [find interface=ether24]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-vlan-tagged [find interface=sfp-sfpplus1]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-untagged-and-priority-tagged [find interface=sfp-sfpplus2]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-untagged-and-priority-tagged [find interface=sfp-sfpplus3]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-untagged-and-priority-tagged [find interface=sfp-sfpplus4]


#
# MAC Server
#

/ip/neighbor/discovery-settings/set discover-interface-list=MANAGEMENT
/tool/mac-server/mac-winbox/set allowed-interface-list=MANAGEMENT
/tool/mac-server/set allowed-interface-list=MANAGEMENT


#
# Enable VLAN Filtering
#

/interface/bridge/set CORE vlan-filtering=yes


#
# Device Configuration
#

# General router settings
/ip/dns/set servers="192.168.75.193"
/ip/route/add dst-address=0.0.0.0/0 gateway=192.168.75.193
/ip/cloud/set ddns-enabled=yes ddns-update-interval=15m update-time=yes
/ip/cloud/advanced/set use-local-address=yes
