#
# dal-navy-fw-0
#

#
# Certificates
#

/certificate
{% if device_upgrade -%}
import name=root-ca passphrase="{{ cert_export_passphrase }}" file-name=internal-navy-root-ca.crt
import name=root-ca passphrase="{{ cert_export_passphrase }}" file-name=internal-navy-root-ca.key
import name=server  passphrase="{{ cert_export_passphrase }}" file-name=internal-navy.crt
import name=server  passphrase="{{ cert_export_passphrase }}" file-name=internal-navy.key

:delay 4

set root-ca trusted=yes
set server  trusted=yes
{% else %}
add name=ca days-valid=10950 common-name=fw-0.navy.dalmura.cloud key-usage=key-cert-sign,crl-sign
add name=server days-valid=10950 common-name=fw-0.navy.dalmura.cloud subject-alt-name=DNS:fw-0.navy.dalmura.cloud organization=dalmura unit=navy

sign ca name=root-ca
:delay 2
sign ca=root-ca server name=server
:delay 2

set root-ca trusted=yes
set server  trusted=yes

# Export certs for use in remote systems
# No private key material is exported here, just the public crt
export-certificate file-name=remote-navy type=pem server
export-certificate file-name=remote-navy-root-ca type=pem root-ca

{% if cert_export_passphrase %}
# Private key material is exported here
export-certificate file-name=internal-navy type=pem export-passphrase="{{ cert_export_passphrase }}" server
export-certificate file-name=internal-navy-root-ca type=pem export-passphrase="{{ cert_export_passphrase }}" root-ca
{% endif %}
{% endif %}

# Web UI certificate
/ip/service/set www-ssl tls-version=only-1.2 address=192.168.79.0/24 certificate=server disabled=no
/ip/service/set api-ssl tls-version=only-1.2 address=192.168.70.0/24 certificate=server disabled=no

/ip/service/set api disabled=yes
/ip/service/set www disabled=yes
