# Site wifi credentials
wifi:
  ssid:
    password: "my awesome password"

# This is used when backing up router certs between config updates
cert_export_passphrase: "change-me"

# Optional DNS entries for the ${site}.dalmura.cloud domain
dns:
  cloud:
    # my-subdomain-name.${site}.dalmura.cloud
    my-subdomain-name: 192.168.0.1

# Wireguard Interfaces
wireguard:
  <interface-name>:
    interface_address: 192.168.0.1/24
    listen_port: 51820
    private_key: "<private-key>"
    public_key: "<public-key>"

    interface_lists:
      - VLAN
      - LAN

    peers:
      - endpoint:
          address: remote.domain.name
          port: 51820
        allowed_address: 192.168.0.0/24
        public_key: "<public-key>"
        preshared_key: "<psk>"
        comment: "My Remote Peer"

# Optional static DHCP leases
static_dhcp_leases:
  - server: general-dhcp
    address: 192.168.0.1
    mac_address: 00:11:22:33:44:55
    comment: My Amazing Device
