#
# dal-matcha-wap-0
#

#
# Naming
#

/system/identity/set name="dal-matcha-wap-0"


#
# Network Overview
#

# SSID                      | VLAN
# dal-matcha-general        | 100
# dal-matcha-guest          | 101
# dal-matcha-iot-internet   | 105
# dal-matcha-iot-restricted | 106
# dal-matcha-management     | 109


#
# Bridge
#

/interface/bridge/add name=CORE vlan-filtering=no


#
# Wireless (wifiwave2) Interfaces & VLAN
#

/interface/wifiwave2/security
add name=dalmura authentication-types=wpa2-psk,wpa3-psk wps=disable

/interface/wifiwave2/channel
add name=dalmura-2ghz band=2ghz-ax width=20/40mhz
add name=dalmura-5ghz band=5ghz-ax width=20/40/80mhz

/interface/wifiwave2/datapath
add name=dalmura bridge=CORE

/interface/wifiwave2/configuration
add name=dalmura mode=ap country=Australia security=dalmura datapath=dalmura

/interface/wifiwave2
# General Wireless & VLAN
set wifi1 configuration=dalmura configuration.ssid=dal-matcha-general channel=dalmura-5ghz security.passphrase="{{ wifi['general']['password'] }}" datapath.vlan-id=100
set wifi2 configuration=dalmura configuration.ssid=dal-matcha-general channel=dalmura-2ghz security.passphrase="{{ wifi['general']['password'] }}" datapath.vlan-id=100

# Guest Wireless & VLAN
add name=wifi1-guest master-interface=wifi1 configuration=dalmura configuration.ssid=dal-matcha-guest channel=dalmura-5ghz security.passphrase="{{ wifi['guest']['password'] }}" datapath.vlan-id=101 datapath.client-isolation=yes
add name=wifi2-guest master-interface=wifi2 configuration=dalmura configuration.ssid=dal-matcha-guest channel=dalmura-2ghz security.passphrase="{{ wifi['guest']['password'] }}" datapath.vlan-id=101 datapath.client-isolation=yes

# Management Wireless & VLAN
add name=wifi1-management master-interface=wifi1 configuration=dalmura configuration.ssid=dal-matcha-management channel=dalmura-5ghz security.passphrase="{{ wifi['management']['password'] }}" datapath.vlan-id=109
add name=wifi2-management master-interface=wifi2 configuration=dalmura configuration.ssid=dal-matcha-management channel=dalmura-2ghz security.passphrase="{{ wifi['management']['password'] }}" datapath.vlan-id=109

# IoT Internet Wireless & VLAN
add name=wifi1-iot-internet master-interface=wifi1 configuration=dalmura configuration.ssid=dal-matcha-iot-internet channel=dalmura-5ghz security.passphrase="{{ wifi['iot_internet']['password'] }}" datapath.vlan-id=105
add name=wifi2-iot-internet master-interface=wifi2 configuration=dalmura configuration.ssid=dal-matcha-iot-internet channel=dalmura-2ghz security.passphrase="{{ wifi['iot_internet']['password'] }}" datapath.vlan-id=105

# IoT Restricted Wireless & VLAN
add name=wifi1-iot-restricted master-interface=wifi1 configuration=dalmura configuration.ssid=dal-matcha-iot-restricted channel=dalmura-5ghz security.passphrase="{{ wifi['iot_restricted']['password'] }}" datapath.vlan-id=106
add name=wifi2-iot-restricted master-interface=wifi2 configuration=dalmura configuration.ssid=dal-matcha-iot-restricted channel=dalmura-2ghz security.passphrase="{{ wifi['iot_restricted']['password'] }}" datapath.vlan-id=106

# Turn everything on
enable [find]


#
# Trunk Ports
#

/interface/bridge/port
add bridge=CORE interface=ether1                        comment="dal-matcha-sw-0"
add bridge=CORE interface=ether2               pvid=105 comment="TV"
add bridge=CORE interface=wifi1                         comment=""
add bridge=CORE interface=wifi2                         comment=""
add bridge=CORE interface=wifi1-guest                   comment=""
add bridge=CORE interface=wifi2-guest                   comment=""
add bridge=CORE interface=wifi1-iot-internet            comment=""
add bridge=CORE interface=wifi2-iot-internet            comment=""
add bridge=CORE interface=wifi1-iot-restricted          comment=""
add bridge=CORE interface=wifi2-iot-restricted          comment=""
add bridge=CORE interface=wifi1-management              comment=""
add bridge=CORE interface=wifi2-management              comment=""

/interface/bridge/vlan
add bridge=CORE tagged=CORE,ether1,wifi1,wifi2 vlan-ids=100
add bridge=CORE tagged=CORE,ether1,wifi1-guest,wifi2-guest vlan-ids=101
add bridge=CORE tagged=CORE,ether1,wifi1-iot-internet,wifi2-iot-internet untagged=ether2 vlan-ids=105
add bridge=CORE tagged=CORE,ether1,wifi1-iot-restricted,wifi2-iot-restricted vlan-ids=106
add bridge=CORE tagged=CORE,ether1,wifi1-management,wifi2-management vlan-ids=109


#
# IP Addressing & Routing
#

# Management VLAN
/interface/vlan/add interface=CORE name=MANAGEMENT_VLAN vlan-id=109
/ip/address/add address=192.168.62.227/27 interface=MANAGEMENT_VLAN


#
# Firewall & NAT
#

/interface/list/add name=MANAGEMENT
/interface/list/member/add interface=MANAGEMENT_VLAN list=MANAGEMENT

/ip/firewall/filter

# Input Chain
add chain=input action=accept connection-state=established,related,untracked comment="accept established,related,untracked"
add chain=input action=accept connection-state=invalid comment="drop invalid"
add chain=input action=accept dst-address=127.0.0.1 comment="accept to local loopback (for CAPsMAN)"

# Add more general input related access here
add chain=input action=accept in-interface=MANAGEMENT_VLAN comment="allow MANAGEMENT_VLAN access"

# Finally drop everything else
add chain=input action=accept log=yes log-prefix=input-catch comment="catchall" disabled=yes
add chain=input action=drop log=no log-prefix=input-drop comment="drop all other input"


#
# VLAN Security
#

/interface/bridge/port
set bridge=CORE ingress-filtering=yes frame-types=admit-only-vlan-tagged [find interface=ether1]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-untagged-and-priority-tagged [find interface=ether2]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-vlan-tagged [find interface=wifi1]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-vlan-tagged [find interface=wifi2]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-vlan-tagged [find interface=wifi1-guest]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-vlan-tagged [find interface=wifi2-guest]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-vlan-tagged [find interface=wifi1-iot-internet]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-vlan-tagged [find interface=wifi2-iot-internet]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-vlan-tagged [find interface=wifi1-iot-restricted]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-vlan-tagged [find interface=wifi2-iot-restricted]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-vlan-tagged [find interface=wifi1-management]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-vlan-tagged [find interface=wifi2-management]


#
# MAC Server
#

/ip/neighbor/discovery-settings/set discover-interface-list=MANAGEMENT
/tool/mac-server/mac-winbox/set allowed-interface-list=MANAGEMENT
/tool/mac-server/set allowed-interface-list=MANAGEMENT


#
# Enable VLAN Filtering
#

/interface/bridge/set CORE vlan-filtering=yes

#
# Device Configuration
#

/ip/dns/set servers="192.168.62.225"
/ip/route/add dst-address=0.0.0.0/0 gateway=192.168.62.225
/ip/cloud/set ddns-enabled=yes ddns-update-interval=15m update-time=yes
/ip/cloud/advanced/set use-local-address=yes

# Wait until the system clock updates
# Anything below here is sensitive to system time
/log info "Waiting for system clock update (1/4)"
:do {:delay 5s} while=([:timestamp] < 2728w) on-error={:delay 1}
/log info "Waiting for system clock update (2/4)"
:do {:delay 5s} while=([:timestamp] < 2728w) on-error={:delay 1}
/log info "Waiting for system clock update (3/4)"
:do {:delay 5s} while=([:timestamp] < 2728w) on-error={:delay 1}
/log info "Waiting for system clock update (4/4)"
:do {:delay 5s} while=([:timestamp] < 2728w) on-error={:delay 1}


#
# Certificates
#

/certificate
add name=ca days-valid=10950 common-name=wap-1.matcha.dalmura.cloud key-usage=key-cert-sign,crl-sign
add name=server days-valid=10950 common-name=wap-1.matcha.dalmura.cloud subject-alt-name=DNS:wap-1.matcha.dalmura.cloud organization=dalmura unit=matcha

sign ca name=root-ca
:delay 2
sign ca=root-ca server name=server
:delay 2

set root-ca trusted=yes
set server trusted=yes

/ip/service/set www-ssl tls-version=only-1.2 address=192.168.62.224/27 certificate=server disabled=no
