#
# dal-indigo-fw-0
#

#
# Network Overview
#

# 100 = GENERAL         = 192.168.76.0/25    = 126
# 101 = GUEST           = 192.168.76.128/26  =  62
# 102 = VPN             = 192.168.76.192/26  =  62
# 103 = SERVERS         = 192.168.77.0/25    = 126
# 104 = SERVERS_STAGING = 192.168.77.128/25  = 126
# 105 = IOT_INTERNET    = 192.168.78.0/25    = 126
# 106 = IOT_RESTRICTED  = 192.168.78.128/25  = 126
# 107 =                 = 192.168.79.0/25    = 126
# 108 = SERVICES        = 192.168.79.128/26  =  62
# 109 = MANAGEMENT      = 192.168.79.192/26  =  62

#
# App Global Configuration
#

/app/settings/set disk=usb1 auto-update=yes lan-bridge=CORE

#
# App - Uptime Kuma
#

/app add yaml="name: dal-uptime-kuma
descr: A self-hosted monitoring tool
page: https://uptime.kuma.pet
category: monitoring
default-credentials: none
services:
  uptime-kuma:
    image: ghcr.io/louislam/uptime-kuma:2
    volumes:
      - data:/app/data
    ports:
      - 3002:3001:tcp
    restart: unless-stopped
"

/app/set dal-uptime-kuma network-pvid=109 use-https=no network=CORE
/app/enable dal-uptime-kuma


#
# App - Tailscale
#

/app add yaml="name: dal-tailscale
descr: Tailscale for Mikrotik
page: https://github.com/Fluent-networks/tailscale-mikrotik
category: networking
default-credentials: none
services:
  tailscale:
    image: ghcr.io/fluent-networks/tailscale-mikrotik:latest
    volumes:
      - tailscale:/var/lib/tailscale
    environment:
      PASSWORD: '{{ tailscale_root_password }}'
      AUTH_KEY: '{{ tailscale_auth_key }}'
      ADVERTISE_ROUTES: '192.168.76.0/22'
      CONTAINER_GATEWAY: '192.168.79.193'
      UPDATE_TAILSCALE: 'Y'
      TAILSCALE_ARGS: '--accept-routes'
    restart: unless-stopped
"

/app/set dal-tailscale network-pvid=109 use-https=no network=CORE
/app/enable dal-tailscale
