#
# dal-amethyst-wap-0
#

#
# Naming
#

/system/identity/set name="dal-amethyst-wap-0"


#
# Network Overview
#

# 100 = GENERAL         = 192.168.69.0/25    = 126
# 101 = GUEST           = 192.168.69.128/26  =  62
# 102 = VPN             = 192.168.69.192/26  =  62
# 103 = SERVERS         = 192.168.68.0/25    = 126
# 104 = SERVERS_STAGING = 192.168.68.128/25  = 126
# 105 = IOT_INTERNET    = 192.168.70.0/25    = 126
# 106 = IOT_RESTRICTED  = 192.168.70.128/25  = 126
# 107 =                 = 192.168.71.0/25    = 126
# 108 = SERVICES        = 192.168.71.128/26  =  62
# 109 = MANAGEMENT      = 192.168.71.192/26  =  62

# SSID                        | VLAN
# Hammond                     | 100
# dal-amethyst-guest          | 101
# dal-amethyst-iot-internet   | 105
# dal-amethyst-iot-restricted | 106
# dal-amethyst-management     | 109

#
# Wireless
#

/interface/wireless/security-profiles
add name=general mode=dynamic-keys authentication-types=wpa2-psk unicast-ciphers=aes-ccm group-ciphers=aes-ccm wpa2-pre-shared-key="{{ wifi['general']['password'] }}"
add name=guest mode=dynamic-keys authentication-types=wpa2-psk unicast-ciphers=aes-ccm group-ciphers=aes-ccm wpa2-pre-shared-key="{{ wifi['guest']['password'] }}"
add name=iot-internet mode=dynamic-keys authentication-types=wpa2-psk unicast-ciphers=aes-ccm group-ciphers=aes-ccm wpa2-pre-shared-key="{{ wifi['iot_internet']['password'] }}"
add name=iot-restricted mode=dynamic-keys authentication-types=wpa2-psk unicast-ciphers=aes-ccm group-ciphers=aes-ccm wpa2-pre-shared-key="{{ wifi['iot_restricted']['password'] }}"
add name=management mode=dynamic-keys authentication-types=wpa2-psk unicast-ciphers=aes-ccm group-ciphers=aes-ccm wpa2-pre-shared-key="{{ wifi['management']['password'] }}"

/interface/wireless
# General Wireless & VLAN
set wireless-protocol=802.11 mode=ap-bridge band=2ghz-g/n channel-width="20/40mhz-XX" frequency=2452 ssid="{{ wifi['general']['ssid_2ghz'] | default(value='dal-amethyst-general') }}" security-profile=general wps-mode=disabled frequency-mode=regulatory-domain country=australia installation=indoor vlan-id=100 vlan-mode=use-tag [find name=wlan1]
set wireless-protocol=802.11 mode=ap-bridge band=5ghz-n/ac channel-width="20mhz" frequency=auto ssid="{{ wifi['general']['ssid_5ghz'] | default(value='dal-amethyst-general') }}" security-profile=general wps-mode=disabled frequency-mode=regulatory-domain country=australia installation=indoor vlan-id=100 vlan-mode=use-tag [find name=wlan2]

# Guest Wireless & VLAN
add name=wlan1-guest master-interface=wlan1 ssid="{{ wifi['guest']['ssid_2ghz'] | default(value='dal-amethyst-guest') }}" security-profile=guest wps-mode=disabled vlan-id=101 vlan-mode=use-tag
add name=wlan2-guest master-interface=wlan2 ssid="{{ wifi['guest']['ssid_5ghz'] | default(value='dal-amethyst-guest') }}" security-profile=guest wps-mode=disabled vlan-id=101 vlan-mode=use-tag

# IoT Internet Wireless & VLAN
add name=wlan1-iot-internet master-interface=wlan1 ssid="{{ wifi['iot_internet']['ssid_2ghz'] | default(value='dal-amethyst-iot-internet') }}" security-profile=iot-internet wps-mode=disabled vlan-id=105 vlan-mode=use-tag
add name=wlan2-iot-internet master-interface=wlan2 ssid="{{ wifi['iot_internet']['ssid_5ghz'] | default(value='dal-amethyst-iot-internet') }}" security-profile=iot-internet wps-mode=disabled vlan-id=105 vlan-mode=use-tag

# IoT Restricted Wireless & VLAN
add name=wlan1-iot-restricted master-interface=wlan1 ssid="{{ wifi['iot_restricted']['ssid_2ghz'] | default(value='dal-amethyst-iot-restricted') }}" security-profile=iot-restricted wps-mode=disabled vlan-id=106 vlan-mode=use-tag
add name=wlan2-iot-restricted master-interface=wlan2 ssid="{{ wifi['iot_restricted']['ssid_5ghz'] | default(value='dal-amethyst-iot-restricted') }}" security-profile=iot-restricted wps-mode=disabled vlan-id=106 vlan-mode=use-tag

# Management Wireless & VLAN
add name=wlan1-management master-interface=wlan1 ssid="{{ wifi['management']['ssid_2ghz'] | default(value='dal-amethyst-management') }}" security-profile=management wps-mode=disabled vlan-id=109 vlan-mode=use-tag
add name=wlan2-management master-interface=wlan2 ssid="{{ wifi['management']['ssid_5ghz'] | default(value='dal-amethyst-management') }}" security-profile=management wps-mode=disabled vlan-id=109 vlan-mode=use-tag

# Turn everything on
enable [find]

#
# Bridge
#

/interface/bridge/add name=CORE vlan-filtering=no

/interface/bridge/port

# trunk
add bridge=CORE interface=ether1        comment="dal-amethyst-fw-0"
add bridge=CORE interface=wlan1
add bridge=CORE interface=wlan2
add bridge=CORE interface=wlan1-guest
add bridge=CORE interface=wlan2-guest
add bridge=CORE interface=wlan1-iot-internet
add bridge=CORE interface=wlan2-iot-internet
add bridge=CORE interface=wlan1-iot-restricted
add bridge=CORE interface=wlan2-iot-restricted
add bridge=CORE interface=wlan1-management
add bridge=CORE interface=wlan2-management


# hybrid - GENERAL
add bridge=CORE interface=ether2       pvid=100 comment="General office switch"

# untagged - MANAGEMENT
add bridge=CORE interface=ether3       pvid=109 comment="Management Port"

/interface/bridge/vlan
add bridge=CORE tagged=CORE,ether1,wlan1,wlan2 untagged=ether2 vlan-ids=100
add bridge=CORE tagged=CORE,ether1,wlan1-guest,wlan2-guest vlan-ids=101
add bridge=CORE tagged=CORE,ether1,wlan1-iot-internet,wlan2-iot-internet vlan-ids=105
add bridge=CORE tagged=CORE,ether1,wlan1-iot-restricted,wlan2-iot-restricted vlan-ids=106
add bridge=CORE tagged=CORE,ether1,ether2,wlan1-management,wlan2-management untagged=ether3 vlan-ids=109

#
# IP Addressing & Routing
#

# Management VLAN
/interface/vlan/add interface=CORE name=MANAGEMENT_VLAN vlan-id=109
/ip/address/add address=192.168.71.195/26 interface=MANAGEMENT_VLAN


#
# Firewall & NAT
#

/interface/list/add name=MANAGEMENT
/interface/list/member/add interface=MANAGEMENT_VLAN list=MANAGEMENT

/ip/firewall/filter

# Input Chain
add chain=input action=accept connection-state=established,related,untracked comment="accept established,related,untracked"
add chain=input action=accept connection-state=invalid comment="drop invalid"
add chain=input action=accept dst-address=127.0.0.1 comment="accept to local loopback (for CAPsMAN)"

# Add more general input related access here
add chain=input action=accept in-interface=MANAGEMENT_VLAN comment="allow MANAGEMENT_VLAN access"

# Finally drop everything else
add chain=input action=accept log=yes log-prefix=input-catch comment="catchall" disabled=yes
add chain=input action=drop log=no log-prefix=input-drop comment="drop all other input"


#
# VLAN Security
#

/interface/bridge/port
set bridge=CORE ingress-filtering=yes frame-types=admit-only-vlan-tagged [find interface=ether1]
set bridge=CORE ingress-filtering=yes frame-types=admit-all [find interface=ether2]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-untagged-and-priority-tagged [find interface=ether3]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-vlan-tagged [find interface=wlan1]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-vlan-tagged [find interface=wlan2]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-vlan-tagged [find interface=wlan1-guest]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-vlan-tagged [find interface=wlan2-guest]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-vlan-tagged [find interface=wlan1-iot-internet]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-vlan-tagged [find interface=wlan2-iot-internet]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-vlan-tagged [find interface=wlan1-iot-restricted]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-vlan-tagged [find interface=wlan2-iot-restricted]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-vlan-tagged [find interface=wlan1-management]
set bridge=CORE ingress-filtering=yes frame-types=admit-only-vlan-tagged [find interface=wlan2-management]


#
# MAC Server
#

/ip/neighbor/discovery-settings/set discover-interface-list=MANAGEMENT
/tool/mac-server/mac-winbox/set allowed-interface-list=MANAGEMENT
/tool/mac-server/set allowed-interface-list=MANAGEMENT


#
# Enable VLAN Filtering
#

/interface/bridge/set CORE vlan-filtering=yes

#
# Device Configuration
#

# General router settings
/ip/dns/set servers="192.168.71.193"
/ip/route/add dst-address=0.0.0.0/0 gateway=192.168.71.193
/ip/cloud/set ddns-enabled=yes ddns-update-interval=15m update-time=yes
/ip/cloud/advanced/set use-local-address=yes

# Wait until the system clock updates
# Anything below here is sensitive to system time
/log info "Waiting for system clock update (1/4)"
:do {:delay 1s} while=([:timestamp] < 2728w) on-error={:delay 1}
/log info "Waiting for system clock update (2/4)"
:do {:delay 1s} while=([:timestamp] < 2728w) on-error={:delay 1}
/log info "Waiting for system clock update (3/4)"
:do {:delay 1s} while=([:timestamp] < 2728w) on-error={:delay 1}
/log info "Waiting for system clock update (4/4)"
:do {:delay 1s} while=([:timestamp] < 2728w) on-error={:delay 1}

#
# Certificates
#

/certificate
add name=ca days-valid=10950 common-name=wap-0.amethyst.dalmura.cloud key-usage=key-cert-sign,crl-sign
add name=server days-valid=10950 common-name=wap-0.amethyst.dalmura.cloud subject-alt-name=DNS:wap-0.amethyst.dalmura.cloud organization=dalmura unit=amethyst

sign ca name=root-ca
:delay 2
sign ca=root-ca server name=server
:delay 2

set root-ca trusted=yes
set server trusted=yes

/ip/service/set www-ssl tls-version=only-1.2 address=192.168.71.192/26 certificate=server disabled=no
